/* misra */

.bi {
    font-size: 1rem;

}
.bi:hover {
    color: #ffcc00 !important;
    transition: color 0.3s ease-in-out;
}

.hover-shadow:hover {
    box-shadow: 0 0.75rem 2rem rgba(0, 0, 0, 0.15) !important;
    transition: box-shadow 0.3s ease-in-out;
}

.team{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}